@page
@model StaticscreenModel
@{
  
    Layout = null;
  
}
<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>StaticScreen</title>
      <link href="@Url.Content("~/css/staticscreen/countdownframe.css")" rel="stylesheet" type="text/css" />
      <link href="@Url.Content("~/css/staticscreen/mediasframe.css")" rel="stylesheet" type="text/css" />
      <link href="@Url.Content("~/css/staticscreen/newsframe.css")" rel="stylesheet" type="text/css" />
      <link href="@Url.Content("~/css/staticscreen/newsframe.css")" rel="stylesheet" type="text/css" />
      <link href="@Url.Content("~/css/staticscreen/socialnetworksframe.css")" rel="stylesheet" type="text/css" />
      <link href="@Url.Content("~/css/staticscreen/staticscreen.css")" rel="stylesheet" type="text/css" />
      <link href="@Url.Content("~/css/staticscreen/wallframe.css")" rel="stylesheet" type="text/css" />
      <link href="@Url.Content("~/css/staticscreen/animate.min.css")" rel="stylesheet" type="text/css" />
      <script type="text/javascript" src="@Url.Content("~/js/countdown.js")"></script>
      <script type="text/javascript" src="@Url.Content("~/lib/jquery/dist/jquery.js")"></script>
      <script src="https://www.amcharts.com/lib/4/core.js"></script>
      <script src="https://www.amcharts.com/lib/4/charts.js"></script>
      <script src="https://www.amcharts.com/lib/4/themes/spiritedaway.js"></script>
      <script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>
      <script type="text/javascript" src="@Url.Content("~/js/graph.js")"></script>
      <script type="text/javascript" src="@Url.Content("~/js/frame.js")"></script>
  </head>
  <body>
    <div class="staticscreen-body">

      <div class="wall-frame">
           @Html.Raw(Model._ResultViewWall)
      </div>


      <div class="news-frame">
          @Html.Raw(Model._ResultViewNews)
      </div>


      <div class="countdown-frame">
          @Html.Raw(Model._ResultViewCountdown)
      </div>

      <div class="medias-frame">
          @Html.Raw(Model._ResultViewMedias)
      </div>

      <div class="socialnetworks-frame">
          @Html.Raw(Model._ResultViewSocialnetworks)
      </div>

    </div>
    @Html.Raw(Model._ResultViewAdminFrame)
  </body>
</html>

  
