@page
@model StaticscreenModel
@{
    ViewData["Title"] = "StaticScreen";
  
}
@section heads{
  <link href="@Url.Content("~/css/staticscreen/countdownframe.css")" rel="stylesheet" type="text/css" />
  <link href="@Url.Content("~/css/staticscreen/mediasframe.css")" rel="stylesheet" type="text/css" />
  <link href="@Url.Content("~/css/staticscreen/newsframe.css")" rel="stylesheet" type="text/css" />
  <link href="@Url.Content("~/css/staticscreen/newsframe.css")" rel="stylesheet" type="text/css" />
  <link href="@Url.Content("~/css/staticscreen/socialnetworksframe.css")" rel="stylesheet" type="text/css" />
  <link href="@Url.Content("~/css/staticscreen/staticscreen.css")" rel="stylesheet" type="text/css" />
  <link href="@Url.Content("~/css/staticscreen/wallframe.css")" rel="stylesheet" type="text/css" />
  <script type="text/javascript" src="@Url.Content("~/lib/jquery/dist/jquery.js")"></script>
  <script type="text/javascript" src="@Url.Content("~/js/countdown.js")"></script>

}

<div class="staticscreen-body" >

  <div class="wallpage-frame" id="a">
    @{ Html.RenderPartial("_Wall"); }
  </div>


<div class="newspage-frame" id="b">
    @{ Html.RenderPartial("_News"); }
</div>


<div class="countdown-frame" id = "c">
    @{ Html.RenderPartial("_Countdown"); }
</div>

<div class="mediaspage-frame" id = "d">
    @{ Html.RenderPartial("_Medias"); }
</div>


<div class="socialnetworks-frame" id ="e">
    <!-- SnapWidget -->
    <script src="https://snapwidget.com/js/snapwidget.js"></script>
    <iframe src="https://snapwidget.com/embed/698344" class="snapwidget-widget" allowtransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:100%;"></iframe>
    <script>
        
        window.onload = function () { setTimeout( function(){

            
            
        }, 4000);
            
        }
        
    </script>
</div>

</div>


<script type="text/javascript" src="@Url.Content("~/js/staticscreen.js")"></script>
  