@page
@model MediasAdminModel
@{
    ViewData["Title"] = "Admin - Medias";
    Layout = "/Pages/Shared/_AdminLayout.cshtml";
}
@section heads{
  <link href="@Url.Content("~/css/usersite/admin/mediasadmin.css")" rel="stylesheet" type="text/css" />
}

  <div class="media-box ">

    <form method="post">
        <div class="medias-addnew">
          <legend class="medias-name">Ajouter média</legend>

            <div class="addnew-name">
              <label class="addnew-name">Nom de la photo : </label>
              <input type="text" name="name" class="addnew-name" placeholder="Ex: JPO">
            </div>

            <div class="addnew-img">
              <label class="addnew-img">Image : </label>
              <input class="addnew-img" name="image"type="file" accept="image/png, image/jpeg">
            </div>

            <div class="addnew-video">
              <label class="addnew-video">Video : </label>
              <input type="text" name="video" class="addnew-video" placeholder="Ex: https://www.youtube.com/watch?v=WIIAbl7pBnI">
            </div>

            <div class="addnew-start-date">
              <label class="addnew-start-date">Date de début : </label>
              <input class="addnew-start-date" name="startdate" type="date">
            </div>

            <div class="addnew-end-date">
              <label class="addnew-end-date">Date de fin : </label>
              <input class="addnew-end-date" name="enddate" type="date">
            </div>

            <div class=button>
            <button class="button-apply" name="add"> Ajouter </button>
            </div>
          
        </div>
      </form>

@{
  //Traitement de la requête GET
  DateTime epoch = new DateTime(1970, 1, 1, 0, 0, 0, 0).ToLocalTime();

  @foreach (var e in @Model.Result){
    var beginningDate = epoch.AddSeconds(e.beginningDate).ToString("yyyy-MM-dd");
    var endingDate = epoch.AddSeconds(e.endingDate).ToString("yyyy-MM-dd");
    @if (1==1){//condition de verification données
        <form method="post">
          <div class="medias-param">
          <legend class="medias-name">@e.name</legend>
          <div class="param-name">
              <label class="param-name">Nom de la photo : </label>
              <input type="text" name="name" class="param-name" placeholder="Ex: JPO" value="@e.name">
          </div>

          @if (@e.image != ""){
            <div class="param-img">
              <label class="param-img">Image : </label>
              <img class="param-img" name="image" src="data:image/png;base64,@e.image"><span><img src="data:image/png;base64,@e.image" alt="@e.image"></span>
            </div>
          }
          else if (@e.video !=""){
            <div class="param-video">
              <label class="param-video">Video : </label>
              <input type="text" name="video" class="param-video" placeholder="Ex: https://www.youtube.com/watch?v=WIIAbl7pBnI" value="@e.video">
            </div>
          }
          <div class="param-start-date">
              <label class="param-start-date">Date de début : </label>
              <input class="param-start-date" type="date" name="startdate" value="@beginningDate">
          </div>
          <div class="param-end-date">
              <label class="param-end-date">Date de fin : </label>
              <input class="param-end-date" type="date" name="enddate" value="@endingDate">
          </div>
          <div class=button>
              <button class="button-delete" value="delete" name="delete"> Supprimer </button>
              <button class="button-apply" value ="edit" name="edit"> Modifier </button>
          </div>
          </div>
        </form>
    }
  }
}
</div>

